certifi==2020.12.5
cowsay==3.0
cycler==0.10.0
joblib @ file:///tmp/build/80754af9/joblib_1607970656719/work
kiwisolver @ file:///C:/ci/kiwisolver_1604014703538/work
lightgbm==2.3.0
matplotlib @ file:///C:/ci/matplotlib-base_1603355780617/work
mkl-fft==1.2.0
mkl-random==1.1.1
mkl-service==2.3.0
numpy @ file:///C:/ci/numpy_and_numpy_base_1603466732592/work
olefile==0.46
pandas @ file:///C:/ci/pandas_1608068219821/work
Pillow @ file:///C:/ci/pillow_1603823068645/work
pyparsing==2.4.7
python-dateutil==2.8.1
pytz @ file:///tmp/build/80754af9/pytz_1606604771399/work
scikit-learn==0.24.0
scipy @ file:///C:/ci/scipy_1604596260408/work
seaborn @ file:///tmp/build/80754af9/seaborn_1608578541026/work
sip==4.19.13
six @ file:///C:/ci/six_1605187374963/work
threadpoolctl @ file:///tmp/tmp9twdgx9k/threadpoolctl-2.1.0-py3-none-any.whl
tornado @ file:///C:/ci/tornado_1606942392901/work
wincertstore==0.2
